<nav id="{{id}}" class="vector-menu vector-menu-tabs mw-portlet {{class}}" aria-label="{{label}}">
	{{{html-before-portal}}}
	<div class="vector-menu-content">
		<ul class="vector-menu-content-list">
			{{{html-items}}}
		</ul>
	</div>
	{{{html-after-portal}}}
</nav>