<div id="{{id}}" class="vector-menu mw-portlet {{class}}">
	<div class="vector-menu-heading">
		{{label}}
	</div>
	{{{html-before-portal}}}
	<div class="vector-menu-content">
		<ul class="vector-menu-content-list">
			{{{html-items}}}
		</ul>
	</div>
	{{{html-after-portal}}}
</div>